body {
  background-image: url("../images/cloud-image.webp");
  background-size: cover;
  font-family: arial, sans-serif;
}

h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  color: #878787;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #878787;
  border-radius: 5px;
  padding: 20px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #878787;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  font-size: 16px;
  position: relative;
  top: -34px;
}

a {
  font-size: 14px;
  text-decoration: none;
}

.weather-temperature .active {
  color: #878787;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

small {
  margin: 0 auto;
  text-align: center;
  color: #878787;
}
